/*body{
	
	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}*/


input{
	width: 8%;
	padding: 5px;
	margin: 10px;
}
 checkbox { 
     

 float: left; 
 margin: 5px 0px; 
 
 }   
 
 
form{
    align-content: center; 
    
}


a{
	
	font-weight: 900;
	padding-left: 25px;
	padding-bottom: 20px;
	padding: 5px;
	margin: 25px;
        justify-content: center;
}

p{
    -webkit-text-stroke: 0.5px rgba(0,0,0,0.5);
	-webkit-text-fill-color: white;
}