body{
/*	background-image:url(../css/images/background.jpg);
	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;*/



}
h1{
	font-weight: 20px;
	
	text-align: center;
}



thead{
	color: black;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th{
	color: black;
}
.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th{
	color: white;
        background-color:#adb7b7
}

.scroll{ 
    float: left;
overflow-y: auto; 
height: 100px; 
}