@charset "utf-8";
/* CSS Document */


body{
	
	/*background-image:url(../css/images/background.jpg);*/
	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}


input{
	width: 8%;
	padding: 5px;
	margin: 10px;
}
 checkbox { 
     

 float: left; 
 margin: 5px 0px; 
 
 }   
 
 
form{
    align-content: center; 
    
}
input[type=checkbox]
{
  -webkit-appearance:checkbox;
}

a{
	
	font-weight: 900;
	padding-left: 25px;
	padding-bottom: 20px;
	padding: 5px;
	margin: 25px;
        justify-content: center;
}

p{
    -webkit-text-stroke: 0.5px rgba(0,0,0,0.5);
	-webkit-text-fill-color: white;
}

.lb-sm{ 
width: 50px; 
}

.form-simple .font-small {
  font-size: 0.8rem; }

.form-simple .header {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem; }

.form-simple input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ff3547;
  -webkit-box-shadow: 0 1px 0 0 #ff3547;
  box-shadow: 0 1px 0 0 #ff3547; }

.form-simple input[type=text]:focus:not([readonly]) + label {
  color: #4f4f4f; }

.form-simple input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #ff3547;
  -webkit-box-shadow: 0 1px 0 0 #ff3547;
  box-shadow: 0 1px 0 0 #ff3547; }

.form-simple input[type=password]:focus:not([readonly]) + label {
  color: #4f4f4f; }

